<header class="h-[600px] flex flex-col justify-center">
  <h1 class="text-5xl font-bold mb-8">I'm Angel – Front-end developer</h1>
  <p class="mb-8 text-4xl">Lorem</p>
  <div class="flex gap-8">
    <button>Contact me</button>
    <span>Available to work</span>
  </div>
</header>
