<nav class="w-full">
  <ul class="flex py-6 gap-8 font-semibold">
    <li class="flex-1">Daezen</li>
    <li><a href="#">Projects</a></li>
    <li><a href="https://github.com/daezen" target="_blank">Github</a></li>
  </ul>
</nav>
