---
import '@fontsource-variable/montserrat'
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-full flex flex-col items-center text-xl leading-loose bg-zinc-950">
    <div class="clamp">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark light;
  }
  body {
    font-family: 'Montserrat Variable', sans-serif;
  }
  .clamp {
    width: clamp(300px, 95vw, 1100px);
  }
</style>
